/*! Theme styles. (theme.css) | @author webtitov.ru */
:root {
  --theme-font: 'Montserrat', sans-serif;
  /* else */
  --website-width: 480px;
  --padding-h: 24px; /* horizontal padding */
  --padding-v: 24px; /* vertical padding */
}

body {
  background-color: #cccccc;
  position: relative;
  overflow-x: hidden;
}

main {
  background-color: #FFFFFF;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
}

.theme-wrapper {
  padding: var(--padding-v) var(--padding-h);
  display: grid;
  align-items: start;
  justify-content: center;
  grid-template-columns: 1fr;
  width: 100%;
  position: relative;
  max-width: var(--website-width);
  margin: 0 auto;
}

.theme-button {
  background: #FF4921;
  
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  
  height: 71px;
  max-width: 304px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  position: relative;
}
.theme-button__text {
  font-family: var(--theme-font);
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
.theme-button:hover {
  background: #ff5e3a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}